body{
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    background-size: cover;
    background-image: url(./Prefab/Sprites/Background/background.png);
}

.player {
    width: 117px;
    height: 70px;
    transition: 0.01s;
    position: relative;
    align-items: center;
    background-image: url("./Prefab/Sprites/Player/catwalk1.png");
    background-size: contain;
}
.enemy{
    width: 100;
    height: 100;
    transition: 0.01s;
    position: relative;
    background-image: url(./Prefab/Sprites/Enemy/zombicat.png);
    background-size:  contain;
}


